<ion-content>
  <ion-card>
    <ion-card-title>
      <p></p>
      <ion-item>
        <h1>
          <ion-input placeholder="Título" [(ngModel)]="note.title"></ion-input>
        </h1>
      </ion-item>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-textarea
          rows="15"
          [(ngModel)]="note.content"
          placeholder="Escriba aquí..."
        ></ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" color="success" (click)="addNote()">Guardar</ion-button>
  </ion-card>

  <ion-fab vertical="top" horizontal="start" slot="fixed" >
    <ion-fab-button [routerLink]="'/home'" color="danger">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
